# Operating system files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# R
.Rhistory
.RData
.Rproj.user/

# Temporary files
*.tmp
*.log

# Private local files
.env
secrets/
private/

